<!DOCTYPE html>
<html>
<head>
  <!-- General color scheme colors are as follows:
		Grayish Blue = #8BD6CC
		Teal		 = #5BA683
		Green		 = #3F8C4B
		Tan			 = #F2B872
		Brown		 = #733119-->
  <title>SustainableResource</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
